/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage
/bootstrap/cache
!/bootstrap/cache/.gitkeep

# Environment & tooling
.env
.env.*
!.env.example
.phpunit.result.cache
.php-cs-fixer.cache
.phpstorm.meta.php
/.idea
/.vscode
/.fleet

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
